@{ Layout = null;}
@model IDictionary<BoublikSystem.Entities.Product,BoublikSystem.Entities.ProductToWayBill>
@foreach ( var product in Model)
{
    <tr>

        <td>@Html.DisplayFor(m => product.Key.Id)</td>
        <td>@Html.DisplayFor(m => product.Key.Name)</td>
        <td>@Html.DisplayFor(m =>product.Value.Count) 
             @Html.DisplayFor(m => product.Key.MeasurePoint)</td>
    </tr>
}
