@model IDictionary<BoublikSystem.Entities.Product,double>

    
    @foreach (var product in Model)
 {
    <tr>
        <td>@Html.DisplayFor(m => product.Key.Name)</td>
        <td>@Math.Round((product.Key.Price*(decimal) product.Value), 2)</td>
        <td>@Html.DisplayFor(m => product.Value)
            @Html.DisplayFor(m => product.Key.MeasurePoint)

            <td> <div>
                @using (Ajax.BeginForm("DeleteBillFromBillsList", "Cook", new {id = product.Key.Id}, new AjaxOptions()
                {UpdateTargetId = "selectedProducts"}))
                {
                    <input type="submit" value="Удалить"/>
                }</div>
            </td>
            
        </td>
    </tr>
}