@model int

<div class="modal-content">
    <div class="modal-body">
        <h3>Введите необходимое количество</h3>

        @using (Ajax.BeginForm("_AddProductToWayBill", "Cook", new { id = Model }, new AjaxOptions() { UpdateTargetId = "selectedProducts" }))
        {
            <input type="text" class="form-control" id="countld" name="countField" value="">
            <input type="submit" id="applyId" value="Apply"  />
        }

    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#applyId').click(function() {
            $('#modDialog').modal('hide');
        });
    })
</script>