@using System.Web.UI.WebControls

@using System.Activities.Validation
@using BoublikSystem.Entities
@*model IDictionary<BoublikSystem.Entities.Product,BoublikSystem.Entities.ProductToWayBill>*@
@*model IEnumerable<BoublikSystem.Entities.ProductToWayBill>*@
@model int
<div class="modal-content">

    <div class="modal-body">
        <h3>Введите необходимое количество</h3>

        @using (Ajax.BeginForm("_AddProductToWayBill", "Cook", new { id = Model }, new AjaxOptions() { UpdateTargetId = "selectedProducts", OnSuccess = "onSuccess" }))
        {

            <input type="text" class="form-control" id="countfld" name="countField" value="" required pattern="[0-9/,/.]+">

            <label for="countfld"></label>
            <input type="submit" id="applyId" value="Принять" />
        }

        <p>Название модели: </p>
    </div>

</div>
<!--не нужно, так как скрипт ниже  делает проверку ввода-->
@*<script type="text/javascript">  
      $(function () {
          $('#applyId').click(function () {
              $('#modDialog').modal('hide');
          });
      })
</script>*@
<!--вешается на событие OnSuccess для аякс-формы. Скрывает модальное окно после подтверждения формы-->
<script type="text/javascript"> 
    
        function onSuccess () {
            $('#modDialog').modal('hide');
        }

        function onFailure() {
            
        }
</script>