@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BoublikSystem Information Portal</h1>
    <p class="lead">
        <h2>Our plan for today!</h2>
        <ol>

            <li>Some text ...</li>
            <li>Some text ...</li>
            <li>Some text ...</li>

        </ol>
    </p>

</div>

<div class="row">
    <div class="col-md-6">
        <h1>Some data</h1>
    </div>
    <div class="col-md-6">
        <h2>How to use BoublikSystem instracture</h2>
        
        <p><a class="btn btn-default" href="http://youtube.com">Learn more &raquo;</a></p>
    </div>

</div>